# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Mathplotlib

|Data Science Tools|
|--------------|
|Hadoop|
|Apache Spark|
|Apache Superset|
|TensorFlow service|
|Prometheus|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

 **Objectives:**

##### List popular languages for Data Science
- R
- Python
- SQL

## Author
Colin Moore